.list-container {
    max-width: 600px;
    padding: 20px;
    margin: 1cm;
    box-shadow: 7px;
    border-radius: 4px;

}
ul {
    list-style-type: none;
    padding: 1px;
    margin: 1px;
}
li{
    padding: 10px;
    background-color: azure;
    margin-bottom: 9px;
    border-radius: 5px;
    cursor: pointer;
}
.sub-list{
    display: none;
    padding-left: 20px;
}
.list-item{
    cursor: pointer;
    padding: 9px;
    border-bottom: 2px
}
.list-header{
    cursor: pointer;
    background-color: aqua;
    padding: 6px;
}
.item-content{
    padding: 10px;
}
